@model Tabaca1._1.Models.Produto


<center>
    <h2>Adicionar Produto</h2>
</center>

<div class="row ">
    <div class="col-md-4 col-xl-4">
        <div class="form-group">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
    <div class="col-md-4 col-xl-4">
        <div class="form-group">
            <label class="form-label mt-4">Input addons</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    
                </div>
            </div>
        </div>
    </div>
</div>









